@model IdentityMicroService.Domain.Entities.Models.AuthorizationDTO.UserModelForAuthorizationDTO

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .btn{
        border: 1px solid #7c7474;
        background-color: buttonface;
        color: buttontext;
        padding: 1px 5px;
        text-decoration: auto;
        border-radius: 2px;
        cursor: default;
        font-size: 15px;
    }
    .btn:hover{
            background-color: #d9d9d9;
    }
</style>
<script>
    $(document).ready(function () 
    {
        $('#submitButton').attr('disabled', true);

        $(this).keyup(function () 
        {
            var NameLen = $('#Email').val().length;
            var PassLen = $('#Password').val().length;
            if ((NameLen > 0) && (PassLen > 0)) {
                $('#submitButton').attr('disabled', false);
            }
            else 
            {
                $('#submitButton').attr('disabled', true);
            }
        })
    });
</script>

<h1>LOGIN</h1>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(e => e.ReturnUrl)
    <div>
        @Html.LabelFor(e=>e.Email, "Email")
        @Html.TextBoxFor(e=>e.Email)
    </div>
    <div>
        @Html.LabelFor(e=>e.Password, "Password")
        @Html.TextBoxFor(e=>e.Password, "", new{ type = "password"})
    </div>
    <p>
        @Html.TextBox("submitButton", "Login", new {type="submit"})
        @Html.ActionLink("Sign Up", "SignUp", "Auth", new { ReturnUrl = @Html.ValueFor(m=>m.ReturnUrl)}, new { id = "signup", @class="btn", click=""})
    </p>
}